.manage-schedule-container {
    .container {
        .row {
            .choose-hour-container {
                margin: 10px 0;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                .btn-schedule {
                    display: block;
                    padding: 0 15px;
                    border: solid 1px #999;

                    &.active {
                        background-color: #ffff00b5;
                    }
                    &:hover {
                        background-color: #ffff00b5;
                    }
                }
            }
        }
    }
}
