.detail-doctor-banner {
    .intro-doctor {
        margin-top: 80px;
        padding: 10px 280px;
        display: flex;
        .content-left {
            width: 20%;
            height: 100px;
            width: 100px;
            background-size: cover;
            border-radius: 50%;
        }
        .content-right {
            width: 80%;
            padding-left: 20px;
        }
    }
    .info-doctor {
        background-color: #f9f9f9;
        padding: 10px 280px;
        border: solid 1px #ddd;
    }
}
