.doctor-schedule-container {
    padding-bottom: 20px;
    .all-schedule {
        select {
            text-transform: capitalize;
            padding: 5px 0;
            border: none;
            outline: none;
            font-weight: 600;
            color: #337ab7;
            border-bottom: 1px solid #74f1ff;
        }
    }
    .available-time {
        min-height: 150px;
        .text-calendar {
            font-weight: 600;
            margin: 10px 0;
            span {
                text-transform: uppercase;
                margin-left: 5px;
            }
        }
        .time-content {
            .time-content-btn {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .btn-time {
                    padding: 10px 10px;
                    min-width: 160px;
                    outline: none;
                    border: none;
                    font-weight: 600;
                    color: #444;
                    &:hover {
                        background-color: #74f1ff;
                        color: #333;
                    }
                }
            }
            .book-free {
                color: #888;
                margin-top: 15px;
            }
        }
    }
}
